.map-container {
    width: 70%; /* Adjust the width as needed */
    max-width: 1600px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    height: 300px !important; /* Set a specific height value */
}