<nav class="navbar navbar-dark bg-dark" *ngIf="!isolated()">
    <div class="container-fluid">
      <span class="navbar-text">
        Free shipping, 30-day return or refund guarantee.
      </span>
      <ul class="navbar-nav d-flex flex-row ms-auto">
        <li class="nav-item me-3">
          <a routerLink="/signin" class="nav-link" href="#" style=" color: white !important;">Sign in</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login"  class="nav-link" href="#" style=" color: white !important;">Log in</a>
        </li>
      </ul>
    </div>
  </nav>


  <nav class="navbar navbar-light bg-white" *ngIf="!isolated()">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100 align-items-center">
        <img src="assets/logo.png" alt="Logo" height="60">
        <ul class="nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a  routerLink="/home" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/about" class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/shop"  class="nav-link" href="#">products</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/blog" class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/contact"class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="nav d-flex justify-content-end align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-heart"></i></a>
          </li>
          <li class="nav-item">
            <a routerLink="/card" class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<footer class="bg-dark text-center text-white" *ngIf="!isolated()">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our Male Fashion</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Be the first to know about new arrivals, look books, sales & promos! <br>
            The customer is at the heart of our unique business model, which includes design.


        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">  {{ 'SHOPPING' | uppercase }}</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text-white">Clothing Store</a>
              </li>
              <li>
                <a href="#" class="text-white">Trending Shoes</a>
              </li>
              <li>
                <a href="#" class="text-white">Accessories</a>
              </li>
              <li>
                <a href="#" class="text-white">Sale</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">SHOPPING</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Payment Methods</a>
              </li>
              <li>
                <a href="#!" class="text-white">Delivary</a>
              </li>
              <li>
                <a href="#!" class="text-white">Return & Exchanges</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">rights reserved | This template is made with  by Colorlib</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->