
  <div id="carouselExampleControls" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img src="assets\brooke-cagle-qpirSKdJDUw-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <p style="color:red; font-size:30px;">Summer Collection</p>
          <h3 style="font-size: 40px;">Fall - Winter Collections 2030</h3>
          <p>A specialist creating luxury essentials. Ethically crafted <br>with an unwavering commitment to exceptional quality. </p>
          <a routerLink="/shop" class="btn btn-dark">SHOP NOW</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="assets\marino-linic-IcQkG3STLv4-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <p style="color:red; font-size:30px;">Summer Collection</p>
          <h3 style="font-size: 40px;">Fall - Winter Collections 2030</h3>
          <p>A specialist creating luxury essentials. Ethically crafted <br>with an unwavering commitment to exceptional quality. </p>
          <a routerLink="/shop" class="btn btn-dark">SHOP NOW</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<br>
<br>

<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <div class="collection-item">
          <img src="assets/sven-ciupka-aZFc5NRtJUQ-unsplash.jpg" class="collection-img" alt="Clothing Collections 2030">
          <h3 class="mt-3">Clothing Collections 2030</h3>
          <a routerLink="/shop"  class="nav-link mb-3" href="#">SHOP NOW</a>
        </div>
        <div class="collection-item">
          <img src="assets/olaniyan-oluwapelumi-6yBa2rO4jh4-unsplash.jpg" class="collection-img" alt="Shoes Spring 2030">
          <h3 class="mt-3">Shoes Spring 2030</h3>
          <a  routerLink="/shop" class="nav-link mb-3" href="#">SHOP NOW</a>
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <div class="collection-item">
          <img src="assets/franco-antonio-giovanella-PnsfHpDrY5o-unsplash.jpg" class="collection-img" alt="Accessories">
          <h3 class="mt-3">Accessories</h3>
          <a  routerLink="/shop" class="nav-link mb-3" href="#">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


 
    